table {
    border-collapse: collapse;
}

td {
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
}

.cword-cell {
    width: 40px;
    height: 40px;
    background: white;
    border: 0px solid black;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    float: left;
}

.picture-word {
    background: #fd8;
}

.filled {
    background: black; 
    border: 1px solid black;
}

input:focus {
    /*color: transparent;*/
    /*text-shadow: 0 0 0 black;*/

    /*&:focus {*/
        /*background-color: #a0a0a0;*/
        /*outline: double;*/
    /*}*/
    border: 2px solid orange;
    /*background-color: #cccccc;*/
}

.has-content {
    border: 1px solid green;
}

.board-container {
    width: ($item-width * $row-count);
    height: ($item-height * $column-count);
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.row {
    display: block;
}
