$item-width: 40px;
$item-height: 40px;
$column-count: 4;
$row-count: 3;
$fgcolor: orange;

:root {
    --z: 24px;
    --bgcolor: cyan;
}

table {
    border-collapse: collapse;
}

td {
    padding: 0px;
    margin: 0px;
    border: 2px solid black;
}

h1 {
    text-decoration: overline underline;
}

h3 b {
    color: red;
    text-decoration: underline;
    font-variant: small-caps;
    font-size: 24;
}

.cword-cell {
    width: 40px;
    height: 40px;
    background: white;
    border: 0px solid black;
    padding: 0;
    margin: 0;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    float: left;
}

.filled {
    background: black; 
    border: 1px solid black;
}

input:focus {
    background-color: #e0e0e0;
}

.has-content {
    border: 2px solid green;
}

tr {
    padding: 10px;
    margin: 10px;
}

.board-container {
    width: ($item-width * $row-count);
    height: ($item-height * $column-count);
}

.board {
    display: grid;
    grid-template-columns: auto auto auto;
}

.row {
    display: block;
}
