{% load static %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js"></script>-->
<script src="{{ STATIC_URL }} /static/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'designer/style.css' %}" />

<script src="{% static 'app.js' %}"></script>

<h4>foobar</h4>
<p>{{ form.foo }}</p>
<p>{{ form.rows }} </p>
<form novalidate class="wordgrid" action="{% url 'designer' %}" method="POST">
  {% csrf_token %}
  {{ form }}
  <table>
      <tr>
  {% for field in form %}
  {% if forloop.counter0|divisibleby:form.columns %}
    </tr><tr>
  {% endif %}
  <td>{{field}}</td>
  {% endfor %}
    </tr>
  </table>

  <input type="submit" value="submit">
</form>

