{% load static %}
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/jquery.marquee@1.5.0/jquery.marquee.min.js"></script>-->
<script src="{{ STATIC_URL }} /static/jquery-3.3.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'designer/style.css' %}" />

<script src="{% static 'app.js' %}"></script>

<h4>foobar</h4>
<p>{{ form.foo }}</p>
<p>{{ width }} </p>
<form action="{% url 'designer' %}" method="POST">
  {% csrf_token %}
  {{ form }}

  <div class="wrapper" id="wordgrid" style="width: {{width}}px;">
    <table>
    {% for row in form.grid %}
      <tr>
      <div class="row">
        {% for col in row %}
          <td>
            <input type="text" tabindex="-1" maxlength="1" class="cword-cell empty" id="{{forloop.counter}}-{{forloop.parentloop.counter}}" />
          </td>
        {% endfor %}
      </div>
      </tr>
    {% endfor %}
    </table>
  </div>
  <input type="submit" value="submit">
</form>

