{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'designer/style.css' %}" />

<h1>ooh, you astonishing sod ape</h1>
<h3>then welcome in <b>jam</b></h3>


<div>
  <table>
    <tr>
      <td class="empty"></td>
      <td class="filled"></td>
    </tr>
    <tr>
      <td class="filled"></td>
      <td class="empty"></td>
    </tr>
  </table>
</div>

<div class="board-container">
  <div class="board">
    <input type="text" id="c0101" class="empty" />
    <input type="text" id="c0201" class="filled" />
    <input type="text" id="c0301" class="empty" />

    <input type="text" id="c0102" class="filled" />
    <input type="text" id="c0202" class="empty" />
    <input type="text" id="c0302" class="filled" />

    <input type="text" id="c0103" class="empty" />
    <input type="text" id="c0203" class="filled" />
    <input type="text" id="c0303" class="filled" />
  </div>
</div>
